# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Poll data when serving app from container
# CHOKIDAR_USEPOLLING=true
# CHOKIDAR_INTERVAL=500

# API keys
TMDB_API_KEY=
